apiVersion: apps/v1
kind: Deployment
metadata:
  name: churn-api-deployment
spec:
  replicas: 2 # Alta disponibilidade
  selector:
    matchLabels:
      app: churn-api
  template:
    metadata:
      labels:
        app: churn-api
    spec:
      containers:
      - name: churn-api-container
        # Caminho da imagem no Registry
        image: us-central1-docker.pkg.dev/capstone-479209/churn-api-repo/churn-api-image:latest
        ports:
        - containerPort: 8000 # Deve bater com o Dockerfile
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"